var {
  @include type--monospace;
  display: inline-block;
  border: 1px solid $palette--secondary-grey;
  border-radius: $s1;
  padding: 0 0.5rem;
  background-color: transparent;
  color: $palette--primary-white;
}