@use "system/utilities" as *;

section.contributions {
  .deck {
    @include grid($no-padding: true);
    gap: space(3);
  }

  .card {
    text-align: left;
    display: grid;
    align-content: start;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "image"
      "title"
      "description"
      "links";
    column-gap: space(3);
    row-gap: space(2);

    @include columns(12);

    @include mq($medium) {
      grid-template-columns: css-min(25%, 100px) 1fr;
      grid-template-areas:
        "image title"
        "image description"
        "image links";
      @include columns(6, 4);
    }

    @include mq($large) {
      @include columns(6);
    }

    img {
      grid-area: image;
      width: 100%;
      border-radius: var(--radius-md);

      @include mq-max($medium) {
        width: css-min(100%, 100px);
        margin: 0 auto space(2);
      }
    }

    h5 {
      text-align: left;
      grid-area: title;
      margin-bottom: 0;
      font-size: var(--fs-lg);
    }

    p {
      grid-area: description;
      margin-bottom: 0;
      color: var(--color-text-muted);
    }

    .links {
      grid-area: links;
      display: flex;
      gap: space(1);
      flex-wrap: wrap;

      a { line-height: 1.4; }
    }

    button.link { border: none; }
  }
}
