#posts-list {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-around;
  align-items: stretch;
  justify-items: stretch;
  margin-bottom: space(6);
  text-align: left;

  a {
    display: grid;
    @include readingWidth;
    margin-bottom: 0;
    grid-template-columns: 1fr 130px;
    align-items: center;
  }
}
