#skip-nav {
  @include palette--base;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  z-index: $z-index--skip-nav;
  padding: $s2;
  margin: auto;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  box-shadow: $shadow--elevated;

  &[data-state=inactive] {
    top: -100%;
  }

  &[data-state=active] {
    top: 0;
  }
}
