@use "system/utilities" as *;
@use "modules/nav" as *;
@use "modules/skip-nav" as *;

// Page header (visible on non-homepage routes).
header.main-header {
  color: var(--color-text);
  background: transparent;
  padding-top: space(6);
  @include left-margins;

  h1.name {
    @include type--title;
    text-align: left;
  }
}
