@use "system/utilities" as *;

@use "modules/nav" as *;
@use "modules/skip-nav" as *;

header.main-header {
  @include palette--base;
  margin-top: $s6;
  @include margin-center;

  h1.name {
    @include type--title;
    @include text-center;
  }
}

