@use "system/utilities";

@use "modules/nav";
@use "modules/skip-nav";

header.main-header {
  @include palette--base;
  margin-top: $s6;
  @include margin-center;

  h1.name {
    @include type--title;
    @include text-center;
  }
}

