@use "system/utilities" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;

  transition-timing-function: var(--ease-standard, $transition-timing);
  transition-duration: var(--dur-2, $transition-speed);
  transition-property: none;
}

::selection        { @include selection; }
::-moz-selection   { @include selection; }
::-webkit-selection { @include selection; }
