@use 'system/utilities' as *;
@use "./modules/contributions" as *;
@use "modules/posts-list" as *;
@use "posts/last-fm" as *;

main.home {
  margin-top: $s12;

  .last-fm-module {
    margin-top: $s6;
  }

  .deck {
    margin-bottom: $paragraph-bottom;
  }
}
