@use 'system/utilities' as *;
@use "./modules/contributions" as *;
@use "modules/posts-list" as *;
@use "posts/last-fm" as *;

main.home {
  margin-top: space(12);

  .last-fm-module {
    margin-top: space(6);
  }

  .deck {
    margin-bottom: $paragraph-bottom;
  }
}
