@use 'system/utilities';
@use "./modules/contributions";

main.home {
  @use "modules/posts-list";
  @use "posts/last-fm";

  margin-top: $s12;

  .last-fm-module {
    margin-top: $s6;
  }

  .deck {
    margin-bottom: $paragraph-bottom;
  }
}
