@import "system/utilities";
@import "modules/code/var";
@import "modules/code/code-container";
@import "modules/code/code-element";

.posts.browser-and-device-diagnostics {
  input {
    width: 100%;
    margin: space(2) auto;
  }

  #error {
    color: $palette--error;
    opacity: 0;
    transition-property: opacity;
    font-family: $sans-serif;
    font-weight: $bold;

    &.visible {
      opacity: 1;
    }
  }

  code {
    white-space: unset;
    margin: 0;

    ul {
      margin-left: space(4);
    }

    li {
      margin-bottom: unset;
    }

    .key {
      color: $palette--primary-color-light;
    }
  }
}
