@import "system/utilities";

.last-fm-module {
  display: grid;
  grid-gap: space(6);

  .item {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: space(1) / 2;
    grid-gap: space(3);
    border: none;
    padding: space(1);
    text-decoration: none;
    margin-left: -#{space(1)};
    margin-right: -#{space(1)};

    @include palette--base;

    &.album {
      grid-template-columns: 1fr 100px;
    }

    @include link-hover;
    @include link-focus;

    &:focus {
      border: none;
      box-shadow: 0 0 0 2px $palette--primary-grey, 0 0 0 4px $palette--secondary-grey;
    }

    .name {
      font-family: $sans-serif;
      font-weight: $bold;
    }

    .scrobbles {
      font-family: $serif;
    }

    bar {
      display: block;
      height: space(2);
      margin-top: space(1);
      transition-property: background-color;
      @include orange-gradient;
    }

    img {
      width: 100px;
      height: 100px;
    }
  }

  .info {
    display: grid;
    position: relative;
  }
}
