@import "system/utilities";

#bar {
  border: 1px solid white;
}

.more {
  margin: auto;
}

p {
  @include paragraph-margin;
}

.resources {
  a {
    margin-bottom: 4px;
  }
}

.year-selector-container {
  @include readingWidth;
  @include paragraph-margin;
}

#albums, #artists, #yearly-scrobbles {
  @include readingWidth;

  display: grid;
  gap: space(2);
}

#albums, #artists {
  gap: space(6);
  margin-bottom: space(12);
}
