@import "system/utilities";

.form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  width: css-min(80vh, 80vw);
  margin: auto;
  gap: space(1);
  justify-content: center;
  align-items: center;

  > div {
    display: flex;
    align-items: center;
  }

  input {
    flex-grow: 1;
  }

  span {
    margin: 0 space(2);
    width: $s6;
    text-align: left;
  }
}

#play-pause {
  @include flex-center;
  margin-right: $s2;
  width: space(7);
  height: space(7);
  padding-top: 0;

  img {
    border-radius: 0;
  }

  &.play {
    .play {
      display: none;
    }
  }

  &:not(.play) {
    .pause {
      display: none;
    }
  }
}

.canvas {
  position: relative;
  width: css-min(80vh, 80vw);
  height: css-min(80vh, 80vw);
  margin-top: $section-spacer;
  background: $palette--primary-white;

  .line {
    width: 100%;
    height: var(--thickness, 1px);
    background: $palette--primary-grey;
    border-radius: 0;
  }

  &::after {
    content: '';
    z-index: $z-index--below;
    display: block;
    @include absolute-cover;
    background: $palette--primary-white;
    transform-origin: center center;
    transform: rotate(var(--rotation));
  }
}

#control, #variant {
  @include absolute-cover;

  display: grid;
  gap: var(--thickness, 1px);
  grid-template-rows: repeat(var(--height), var(--thickness, 1px));
  grid-template-columns: 1fr;
  z-index: $z-index--base;
}

#variant {
  transform-origin: center center;
  transform: rotate(var(--rotation));

  transition-duration: 0s;
}
