@import "system/utilities";

.band-tag {
  background-color: $palette--accent-color;
  color: $palette--primary-grey;
  padding: $s1 $s2;
  border-radius: 100px;
  @include type--body-tiny;
  @include type--bold-sans-serif;
}

.article-card {
  border-radius: $border-radius;
  text-align: left;
  background-color: $palette--primary-black;
  padding: $s2;
}

.article-image {
  border-radius: 200px;
  box-shadow: 0 0 20px $palette--primary-color-dark;
  margin-bottom: $s2;
}

.article-title {
  @include type--heading-5;
  text-align: left;
  text-transform: capitalize;
}

.article-title-link {
  color: unset;
  text-decoration: unset;
}

.article-summary {
  @include type--body;
}

.article-bands {
  display: flex;
  flex-wrap: wrap;
  gap: $s1;
  margin-bottom: $s2;
}

.article-metadata {
  display: flex;
  gap: $s1;
  @include type--body-tiny;
  margin-bottom: $s2;
}

.article-source {
  @include type--body-tiny;
}
