@use "system/utilities" as *;

$squareSize: 768;

.canvas-container {
  position: relative;
  width: $squareSize + px;
  max-width: 100%;

  button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
  }
}

canvas {
  width: $squareSize + px;
  height: $squareSize + px;
  @include border--light;
  max-width: 100%;
  max-height: 90vw;
  display: block;
}