@import "system/utilities";


canvas {
  width: 100vw;
  max-width: 100%;
  height: calc(100vh - 100px);
  border: 2px solid rgba($palette--divider-color, 0.2);
}

form {
  &,
  label {
    display: flex;
    align-items: center;
  }

  label {
    padding: 0;
  }

  input {
    margin-right: space(2);
  }
}
