@import "system/utilities";

button[value=add] {
  display: block;
  margin: auto;
  margin-bottom: space(6);
}

.sound-slider {
  text-align: left;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  padding: space(2);
  border-radius: var(--border-radius, $border-radius);
  border: 2px solid $palette--divider-color;
  @include paragraph;

  input[type=range] {
    width: 100%;
    margin: space(2) 0;
  }
  input[type=number] {
    width: 150px;
  }

  button[value=remove] {
    margin: 0;
  }

  button[value=play],
  button[value=pause] {
    margin: 0;

    span {
      margin-left: space(1);
    }
  }

  button[value=play] {
    span.pause {
      display: none;
    }
  }
  button[value=pause] {
    span.play {
      display: none;
    }
  }
}