@use "system/utilities" as *;
@use "modules/code" as *;
@use "modules/sticky-stacky" as *;

.sticky-container {

  .sticky-stacky {
    width: 100%;

    &.default-styles {
      width: 100%;
      padding: space(1) space(2);
      @include palette--header;
      text-align: left;
      border-bottom: 1px solid $palette--primary-color-light;
      border-radius: 0;
      transition-duration: 0s;
    }
  }
}