@import "system/utilities";


.movies-container {
  @include grid($no-padding: true);
}

a.movie {
  @include columns(4);

  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: space(2);

  @include mq(400px) {
    @include columns(2);
  }

  @include mq($medium) {
    @include columns(4);
  }

  @include mq($large) {
    @include columns(3);
  }

  img {
    display: block;
    border-radius: 5px;
  }

  h2 {
    width: 100%;
    margin-bottom: 0;
  }

  p {
    margin-bottom: 0;
  }
}
