@import "system/utilities";

answer, answer-array {
  display: block;
  text-align: left;
  margin-top: space(6);
  margin-bottom: space(6);
}

answer-array {
  a:after {
    content: ',';
  }

  a:last-of-type:after {
    content: '';
  }
}

canvas#star {
  width: 90vh;
  max-width: 90vw;

  height: 90vw;
  max-height: 90vh;

  margin: auto;
  display: block;
  transform: rotate(-90deg);
}



form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  > * {
    padding: 0 space(1);
  }

  span,
  label {
    display: inline-flex;
    align-items: center;
  }
}
