@use "defaults" as *;
@use "spaces" as *;
@use "viewports" as *;
@use "sass:math";

$grid--gutter: space(2);
$grid--gap: space(1);
$grid--start-break-point: $medium;
$grid--copy-max-width: $s1 * 120; // 720px
$grid--max-width: $s1 * 220; // 1320px
