@import "system/variables/defaults";
@import "system/variables/spaces";
@import "system/variables/viewports";

$grid--gutter: space(2);
$grid--gap: space(1);
$grid--start-break-point: $medium;
$grid--max-width: 1440px;
$grid--copy-max-width: calc($grid--max-width / 2);