@use "system/utilities" as *;
@use "modules/youtube-modal" as *;
@use "modules/contributions" as *;

.about-content {
  position: relative;
  @include left-margins;
  padding: 0 space(2);
  max-width: 624px;
}

section.resources {
  ul {
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  li {
    display: block;
    margin: unset;
  }
}
