@import "system/variables/all";

@mixin palette--base($background-alpha: 1) {
  color: $palette--primary-white;
  background-color: rgba($palette--primary-grey, $background-alpha);
}

@mixin palette--base--inverted($background-alpha: 1) {
  color: $palette--primary-grey;
  background-color: rgba($palette--primary-white, $background-alpha);
}

@mixin palette--primary($background-alpha: 1) {
  color: $palette--primary-white;
  background-color: rgba($palette--primary-color-dark, $background-alpha);
}

@mixin palette--header {
  color: $palette--primary-white;
  @include surface;
  background-blend-mode: luminosity;
  backdrop-filter: blur(10px);
}

@mixin orange-gradient {
  background: linear-gradient(to left, $palette--primary-color-light, $palette--primary-color-dark);
}

@mixin surface {
  mixin: surface;

  background-color: $palette--surface-color;
}
